
@font-face {
    font-family: 'Kaph';
    src: url('/font/Kaph.ttf') format('truetype');
}
@font-face {
  font-family: 'ash';
  src: url('/font/ash.otf') format('opentype');
}
@font-face {
    font-family: 'chaly';
    src: url('/font/chal.ttf') format('truetype');
}

@font-face {
    font-family: 'bubble';
    src: url('/font/textbubble.ttf') format('truetype');
}
@font-face {
    font-family: 'bubbleblack';
    src: url('/font/bubble_black.otf') format('opentype');
}
@font-face {
    font-family: 'cursive';
    src: url('/font/cursive.ttf') format('truetype');
}



body,html{
    border:2px 2px 2px black;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
  overflow: hidden;

}
#clicker{
  font-family:"Kaph";
  font-size: 2em;
  z-index: 100;
  position: fixed;
  color: white;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;

}
.main{

    background-color: black;
    height: 100vh;
    width: 100vw;
 
}

#canvas {
 
  width: 100%;
  height: 100%;

    background-color: none;
  
}
.container{

  top: 0;
    position: absolute;
    background-color: white;
}
#controls{
    top: 0;
    left: 0;
    position: absolute; 
   
    /* flex-direction: column;
    display: flex;
    align-items: center; */
    width: 100%;
    height: 100%;
}
p{
    margin: 0;
}
.scroll{
    position: absolute;
    width: 100%;
    top:0;
    background-color: #0b0a02b0;
    height: 100%;
    z-index: 2;
}
.message-container{
    background-image: url("/images/scroll/scroll.png");
    background-size: contain; /* Adjust to fit the container */
    background-repeat: no-repeat; /* Prevent repeating */
    position: relative;
    background-position: center; 
   height: 100%;

}
.messages{
    width: 40%;
   position: relative;
   top:20vh;
    font-family: 'cursive';
    text-align: center;
    margin: auto;
  left: 5vh;

    color: red;
    text-shadow: 1px 1px 5px white;
    letter-spacing: 1px;
    height: 90vh;
    text-transform: capitalize;
}

.messages > p:nth-child(1){
  font-weight: bold;
  font-size: 10vh;

  
}
.messages > img{
  height: 40vh;
  object-fit: contain;
}
.messages > p:nth-child(2){
  text-align: justify;
  font-family: 'ash';
  position: relative;
  width: 30vw;
  margin: auto;
  padding-right: 10px;
  font-size: 5vh;
  color: black;
  height: 40vh;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x:hidden ;
  
}
.messages > p:nth-child(3){
  text-align: right;
  font-family: 'ash';
  position: relative;
  width: 30vw;
  margin: auto;
  padding-right: 10px;
  font-size: 6vh;
  margin-top: 10px;
  color: red;
  height: 40vh;
  word-wrap: break-word;
  overflow-y: auto;
  overflow-x:hidden ;


  

  overflow: hidden;

}



.buttons{

 position: absolute;
  width: 80%;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
font-family: "bubbleblack";

}

.buttons > button:nth-child(1){

  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 0 2vh;
  border-radius: 50px;
  width: 10vh;
  height: 10vh;

  max-width: 60px;
  max-height: 60px;
  font-size: 2em;

  background-color: #FEF7E5;
  box-shadow: 1px 5px #000000;
  font-weight: 500;
  color: red;

}

.buttons > button:nth-child(2){
  float: right;
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 0 2vh;
  border-radius: 50px;
  width: 10vh;
  height: 10vh;
  max-width: 60px;
  max-height: 60px;
  font-size: 2em;
  background-color: #DA905E;
   box-shadow: 1px 5px #000000;
  font-weight: 500;
  color: white;

}
.scroll > button{
position: absolute;

outline: 0;
  border: 1px solid black;
  cursor: pointer;
 position: absolute;
 top: 5vh;
 left:5vh;
  border-radius: 50px;
  width: 10vh;
  height: 10vh;
  max-width: 60px;
  max-height: 60px;
  font-size: 1.5em;
  background-color: rgb(157, 20, 20);
  box-shadow: 1px 5px hsl(0, 0%, 0%);
  font-weight: 500;
  color: white;


}


  .messages > p:nth-child(2)::-webkit-scrollbar {
    width: 5px;
   
    border-radius: 10px;
   
  }
   
  .messages > p:nth-child(2)::-webkit-scrollbar-track {
   border: 1px solid wheat;
   background: burlywood;
   border-radius: 10px;
  }
   
  .messages > p:nth-child(2)::-webkit-scrollbar-thumb {
    background-color: gold;
    outline: 1px solid black;
    
    border-radius: 10px;
  }




  #balloon-container {
    height: 100vh;
   
    width: 100vw;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: opacity 500ms;
  }
  
  .balloon {
    height: 125px;
    width: 105px;
    border-radius: 75% 75% 70% 70%;
    position: relative;
  }
  
  .balloon:before {
    content: "";
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .balloon:after {
      content: "▲";
      text-align: center;
      display: block;
      position: absolute;
      color: inherit;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  @keyframes float {
    from {transform: translateY(100vh);
    opacity: 1;}
    to {transform: translateY(-300vh);
    opacity: 0;}
  }



