<!DOCTYPE html>
<html lang="en">
    <script type="text/javascript">
        var image_paths = "<%=image_path%>".split(",")
     </script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/index.css">
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div id="balloon-container">
    </div>
    <div class="main">
        <div class ="container">
            <canvas id = "canvas" width="1280" height="720"></canvas>
            <div id = "controls" width="1280" height="720">
          
        </div>
      
    </div>

    
</body>
<script src="javascript/anime.min.js"></script>

<script src="javascript/classes.js"></script>
<script src="javascript/trigger.js"></script>
<script src="javascript/events.js"></script>
<script src="javascript/background.js"></script>
<script src="javascript/sprite.js"></script>
<script src="javascript/canvas.js"></script>

</html>